<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mark.beattie.desktop_tools</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3B1482D8-B246-47F1-BEE9-7C34EAEE8955</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E4F0268-49E4-4046-9FC2-49C756BA62AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E4F0268-49E4-4046-9FC2-49C756BA62AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81EDD8A4-89E1-43FD-B2FB-E65877C1F984</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2410DCE3-22E7-4FE3-969D-561FA6CA420D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Beattie</string>
	<key>description</key>
	<string>Do things with stuff on your desktop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Desktop tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/clipboard.set.image.data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>81EDD8A4-89E1-43FD-B2FB-E65877C1F984</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>~/Desktop</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.children.sort.added.leading.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9E4F0268-49E4-4046-9FC2-49C756BA62AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>copd</string>
				<key>subtext</key>
				<string>Copies the most recent file to the clipboard</string>
				<key>text</key>
				<string>Copy from desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3B1482D8-B246-47F1-BEE9-7C34EAEE8955</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2410DCE3-22E7-4FE3-969D-561FA6CA420D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2410DCE3-22E7-4FE3-969D-561FA6CA420D</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>3B1482D8-B246-47F1-BEE9-7C34EAEE8955</key>
		<dict>
			<key>note</key>
			<string>Copy from desktop</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>81EDD8A4-89E1-43FD-B2FB-E65877C1F984</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>9E4F0268-49E4-4046-9FC2-49C756BA62AA</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/beet/desktop-tools</string>
</dict>
</plist>
